h1 {
    font-family: Arial;
    font-size: 2em;
}

h2{
    font-family: Arial;
    font-size: 1.5em;
}

h3 {
    font-family: Arial;
    font-size: 1.4em;
}
p {
    font-family: "Times New Roman";
    font-size: 1.2em;
}

p.rood{
    color: #FF0000;
}

p.groen {
    color: #00FF00;
}